# Connect to Supabase
DATABASE_URL=""
DIRECT_URL=""

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Seed admin default
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@papan.com"
ADMIN_PASSWORD=""